<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>query</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<h5>8. Create a view of customers with name nd phone number who have parked their vehicles for more than 4 hours</h5><br><br>
<table class="bodered">
    <thead>
    <tr>
        <td>Customer Name</td>
        <td>Phone</td>
        <td>Vehicle Number</td>


    </tr>
    </thead>
    <tbody>
    {% for line in cursor %}
        <tr>
            {% for x in line %}

                <td>{{ x }}</td>
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>
<br><br><br>
<a href="{{ url_for('queries') }}"
   class="waves-effect waves-light btn right">BACK
    <i class="material-icons right">arrow_forward</i></a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>